<!DOCTYPE html>
<html>
  <head>
    <title>DoesMarieApprove</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="nav-bar">
      <a href="/"><button
         type="button">Restaurants</button></a>
      <% if logged_in? %>
        <form action="/sessions/<%=current_user.id%>" method="post">
          <input type="hidden" value="delete" name="_method">
          <input class="session-button" type="submit" value="Sign Out">
        </form>
      <% else %>
        <a href="/users/new"><button class="session-button" type="button">Sign Up</button></a>
        <a href="/sessions/new"><button class="session-button" type="button">Sign In</button></a>

      <% end %>
    </div>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
